*.d
*.o
*.out
*.pgn
cutechess-cli
leelaz_opencl_tuning
env/
go/bin
go/pkg
go/src/client/client.exe
go/src/client/client_linux
go/src/client/client_mac
go/src/client/lczero
go/src/client/networks/
go/src/server/games/
go/src/server/networks/
src/data
src/lczero
src/supervise
src/weights.txt
build/
cmake-build*/
training/tf/__pycache__/
training/tf/checkpoint
training/tf/leelaz-model-*
training/tf/leelalogs
training/tf/models/
.idea/
/.vs
*.exe
*.dll
/go/src/client/settings.json
*.vspx
*.psess
