%YAML 1.2
---
name: 'kb1-64x6'                       # ideally no spaces
gpu: 0                                 # gpu id to process on

dataset: 
  num_chunks: 100000                   # nof chunks to parse (new to old)
  train_ratio: 0.75                    # trainingset ratio
  input: '/path/to/chunks/*/draw/'     # supports glob
  path: '/path/to/dataset'             # output dir

training:
  batch_size: 1024
  learning_rate: 0.1
  decay_rate: 0.1
  decay_step: 100000
  policy_loss_weight: 1.0
  value_loss_weight: 0.01
  path: '/tmp/testnet'

model:
  filters: 64
  residual_blocks: 6
...
