<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=980">
    <meta name="description" content="LCZero - Chess learned from scratch">
    <meta name="author" content="Gary Linscott">

    <title>LCZero</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/dashboard.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">LCZero</a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <!-- <a class="nav-link" href="#">Sign out</a> -->
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav class="col-2 d-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/">
                  <span data-feather="home"></span>
                  Main <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/glinscott/leela-chess/wiki">
                  <span data-feather="help-circle"></span>
                  Getting Started
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://groups.google.com/forum/#!forum/lczero">
                  <span data-feather="layers"></span>
                  Forum
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://github.com/glinscott/leela-chess">
                  <span data-feather="github"></span>
                  Github
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/networks">Networks</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/matches">Matches</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/training_runs">Training Runs</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/stats">Stats</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/training_data">Training Data</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/?full_elo=1">Full Elo Graph</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://discord.gg/pKujYxD">
                  <span data-feather="message-circle"></span>
                  LCZero Chat
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="http://play.lczero.org/">
                  <span data-feather="play-circle"></span>
                  Play LCZero!
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-10 ml-auto pt-3 px-4">
          {{template "content" .}}
        </main>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-slim.min.js"><\/script>')</script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
      feather.replace()
    </script>

    {{template "scripts" .}}
  </body>
</html>
