{{define "content"}}
<div class="alert alert-primary" role="alert">
  <a href="https://en.chessbase.com/post/leela-chess-zero-alphazero-for-the-pc">Chessbase article</a> on LCZero!  Download latest client <a href="https://github.com/glinscott/leela-chess/releases/tag/v0.7">here</a>.
</div>
<div class="alert alert-primary" role="alert">
  We are raising funds to upgrade the training hardware, and train bigger networks: <a href="https://www.gofundme.com/leela-chess-zero">https://www.gofundme.com/leela-chess-zero</a>.
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Progress</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<div id="eloChart"></div>

<h2>Active Users</h2>
<h6>{{.active_users}} users in the last day have played {{.games_played}} games</h6>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>User</th>
        <th>Games / Day</th>
        <th>Version</th>
        <th>Engine</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      {{range .Users}}
      <tr>
        <td><a href="/user/{{.user}}">{{.user}}</a></td>
        <td>{{.games_today}}</td>
        <td>{{.version}}</td>
        <td>{{.engine}}</td>
        <td>{{.last_updated}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}

{{define "scripts"}}
<script src="https://cdn.jsdelivr.net/npm/vega@3.3.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@2.4.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@3.7.1"></script>
<!-- Vega Tooltip -->
<script src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.9.14"></script>

<!-- Graphs -->
<script>
var vlSpec = {
	"$schema": "https://vega.github.io/schema/vega-lite/v2.0.json",
	"description": "Leela Chess Elo rating",
	"config": {
		"point": { "size": 80 }
	},
	"width": 563, "height": 375,
	"data": {"values": {{.progress}}},
	"layer": [
		{
			"transform": [
				{ "filter": { "field": "best", "equal": "true" } }
			],
			"mark": {
				"type": "line",
				"interpolate": "monotone"
			},
			"encoding": {
				"x": {
					"field": "net",
					"type": "quantitative",
					"axis": {
						"title": "Number of accumulated games",
					},
					"scale": {
						"zero": false
					}
				},
				"y": {
					"field": "rating",
					"type": "quantitative",
					"axis": {
						"title": "Elo rating (0 = random play)"
					},
					"scale": {
						"zero": false
					}
				},
				"color": {
					"value": "blue"
				},
				"order": {
					"field": "net", "type": "quantitative"
				}
			}
		},
		{
			"transform": [
				{ "filter": "datum.rating > -1" },
				{ "calculate": "format(datum.net, ',d')", "as": "net_formatted" },
				{ "calculate": "format(datum.rating, ',.2f')", "as": "rating_formatted" }
			],
			"mark": {"type": "point", "filled": true},
			"encoding": {
				"x": {
					"field": "net",
					"type": "quantitative",
					"axis": {
						"title": "Number of accumulated games",
					},
					"scale": {
						"zero": false
					}
				},
				"y": {
					"field": "rating",
					"type": "quantitative",
					"axis": {
						"title": "Elo rating (0 = random play)"
					},
					"scale": {
						"zero": false
					}
				},
				"color": {
					"field": "sprt", "type": "nominal",
					"scale": {"range": ["#59E817", "#C11B17", "blue"]}
				},
				"shape": {
					"field": "sprt", "type": "nominal",
					"scale": {"range": ["circle", "triangle-down", "circle"]}
				},
				"tooltip": [
					{"type": "nominal", "field": "id", "title": "Network Id"},
					{"type": "nominal", "field": "net_formatted", "title": "Number of trained games"},
					{"type": "nominal", "field": "rating_formatted", "title": "Elo rating (0 = random play)"},
					{"type": "nominal", "field": "sprt", "title": "SPRT"}
				]
			}
		}
	]
}
vegaEmbed("#eloChart", vlSpec, { actions: false })
.catch(console.error);
</script>
{{end}}
