{{define "content"}}
<div class="alert alert-warning" role="alert">
  v0.4 released, please upgrade.  Download <a href="https://github.com/glinscott/leela-chess/releases/tag/v0.4">here</a>.
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Progress</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<div id="eloChart"></div>

<h2>Active Users</h2>
<h6>{{.active_users}} users in the last day have played {{.games_played}} games</h6>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>User</th>
        <th>Games / Day</th>
        <th>System</th>
        <th>Version</th>
        <th>Last Updated</th>
      </tr>
    </thead>
    <tbody>
      {{range .Users}}
      <tr>
        <td><a href="/user/{{.user}}">{{.user}}</a></td>
        <td>{{.games_today}}</td>
        <td>{{.system}}</td>
        <td>{{.version}}</td>
        <td>{{.last_updated}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}

{{define "scripts"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/vega/3.0.8/vega.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vega-lite/2.0.3/vega-lite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vega-embed/3.0.0-rc7/vega-embed.min.js"></script>
<!-- Vega Tooltip -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vega-tooltip/0.4.4/vega-tooltip.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/vega-tooltip/0.4.4/vega-tooltip.min.css">

<!-- Graphs -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script>
var vlSpec = {
	"$schema": "https://vega.github.io/schema/vega-lite/v2.0.json",
	"description": "Leela Chess Elo rating",
	"config": {
		"point": { "size": 80 }
	},
	"data": {"values": {{.progress}}},
	"layer": [
		{
			"transform": [
				{ "filter": { "field": "best", "equal": "true" } }
			],
			"mark": {
				"type": "line",
				"interpolate": "monotone"
			},
			"encoding": {
				"x": {
					"field": "net",
					"type": "quantitative",
					"axis": {
						"title": "Number of accumulated games",
					}
				},
				"y": {
					"field": "rating",
					"type": "quantitative",
					"axis": {
						"title": "Elo rating (0 = random play)"
					}
				},
				"color": {
					"value": "blue"
				}
			}
		},
		{
			"transform": [
				{ "filter": "datum.rating > -1" }
			],
			"mark": {"type": "point", "filled": true},
			"encoding": {
				"x": {
					"field": "net",
					"type": "quantitative",
					"axis": {
						"title": "Number of accumulated games",
					}
				},
				"y": {
					"field": "rating",
					"type": "quantitative",
					"axis": {
						"title": "Elo rating (0 = random play)"
					}
				},
				"color": {
					"field": "sprt", "type": "nominal",
					"scale": {"range": ["#59E817", "#C11B17", "blue"]}
				},
				"shape": {
					"field": "sprt", "type": "nominal",
					"scale": {"range": ["circle", "triangle-down", "circle"]}
				}
			}
		}
	]
}
var opt = {
	mode: "vega-lite",
	actions: false,
	width: 600,
	height: 400
};
var tooltipOpt = {
	showAllFields: false,
	fields: [
		{field: "net", title: "Number of trained games", format: ",d"},
		{field: "rating", title: "Elo rating (0 = random play)"},
		{field: "sprt", title: "SPRT"},
		{field: "hash", title: "Hash"}
	]
};
vegaEmbed("#eloChart", vlSpec, opt)
.then(function (result){
	vegaTooltip.vegaLite(result.view, vlSpec, tooltipOpt)
}).catch(console.error);
</script>
{{end}}
