{{define "content"}}
<div class="alert alert-primary" role="alert">
  Progress continues!  The value head is improving at a steady rate, which doesn't show up well in our 800 node self play games.<br>
  Check out some of the recent results from <a href="https://docs.google.com/spreadsheets/d/1xUO3-MDP5yMcaPzikJGgZ3K3K2ySZs_-fYA-FK4-Q1I/edit#gid=399642950">CCLS</a> and <a href="https://docs.google.com/spreadsheets/d/1zcXqNzLNBT8RjTHO_AppL6WN0j8TGmOIh6osLPmaB6E/edit#gid=2130749453">Aloril</a>.<br>
  Thank you for your contribution of training games. Download latest client <a href="https://github.com/glinscott/leela-chess/releases/tag/v0.10rc1">here</a>.
</div>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Progress</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <span data-feather="calendar"></span>
      This week
    </button>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-auto">
      Next network:
    </div>
    <div class="col-12">
      <div class="progress">
        <div id="train-progress" class="progress-bar progress-bar-striped" role="progressbar" style="width: {{.train_percent}}%">{{.progress_info}}</div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-1">
<div class="row">
<div class="col-2">
<ul class="nav nav-pills flex-column" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="pill" href="#tab-self-elo" role="tab">Self-play Elo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#tab-elo-estimates" role="tab">Elo Estimates</a>
  </li>
</ul>
</div>
<div class="col-10">
<div class="tab-content">
  <div class="tab-pane active show" id="tab-self-elo" role="tabpanel">
    <div id="eloChart"></div>
  </div>
  <div class="tab-pane" id="tab-elo-estimates" role="tabpanel">
    <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSwX4iqK3zxus6GFPkifWU70is7PCelQH3Hl2YK7wIBeL9FmARyo0lEemUvS_dEpnarOPJAYjuWNLYb/pubchart?oid=1153355782&format=interactive" width="600" height="400"></iframe>
  </div>
</div>
</div>
</div>
</div>

<h2>Active Users</h2>
<h6>{{.active_users}} users in the last day have played {{.games_played}} games</h6>
<div class="container">
  <div class="row">
    <div class="col-4">
      <h6>Daily Top 50 <a href="/active_users">(all users)</a></h6>
      <div class="table-responsive">
	<table class="table table-striped table-sm">
	  <thead>
	    <tr>
	      <th>User</th>
	      <th>Games / Day</th>
	    </tr>
	  </thead>
	  <tbody>
	    {{range .top_users_day}}
	    <tr>
	      <td><a href="/user/{{.user}}">{{.user}}</a></td>
	      <td>{{.games_today}}</td>
	    </tr>
	    {{end}}
	  </tbody>
	</table>
      </div>
    </div>
    <div class="col-4">
      <h6>Monthly Top 50</h6>
      <div class="table-responsive">
	<table class="table table-striped table-sm">
	  <thead>
	    <tr>
	      <th>User</th>
	      <th>Games / Month</th>
	    </tr>
	  </thead>
	  <tbody>
	    {{range .top_users_month}}
	    <tr>
	      <td><a href="/user/{{.user}}">{{.user}}</a></td>
	      <td>{{.games_today}}</td>
	    </tr>
	    {{end}}
	  </tbody>
	</table>
      </div>
    </div>
    <div class="col-4">
      <h6>Overall Top 50</h6>
      <div class="table-responsive">
	<table class="table table-striped table-sm">
	  <thead>
	    <tr>
	      <th>User</th>
	      <th>Games</th>
	    </tr>
	  </thead>
	  <tbody>
	    {{range .top_users}}
	    <tr>
	      <td><a href="/user/{{.user}}">{{.user}}</a></td>
	      <td>{{.games_today}}</td>
	    </tr>
	    {{end}}
	  </tbody>
	</table>
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "scripts"}}
<script src="https://cdn.jsdelivr.net/npm/vega@3.3.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@2.4.1"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@3.7.1"></script>
<!-- Vega Tooltip -->
<script src="https://cdn.jsdelivr.net/npm/vega-tooltip@0.9.14"></script>

<!-- Graphs -->
<script>
var vlSpec = {
	"$schema": "https://vega.github.io/schema/vega-lite/v2.0.json",
	"description": "Leela Chess Elo rating",
	"config": {
		"point": { "size": 50 }
	},
	"width": 563, "height": 375,
	"data": {"values": {{.progress}}},
	"layer": [
		{
			"transform": [
				{ "filter": { "field": "best", "equal": "true" } }
			],
			"mark": {
				"type": "line",
				"interpolate": "monotone"
			},
			"encoding": {
				"x": {
					"field": "net",
					"type": "quantitative",
					"axis": {
						"title": "Number of accumulated games",
					},
					"scale": {
						"zero": false
					}
				},
				"y": {
					"field": "rating",
					"type": "quantitative",
					"axis": {
						"title": "Elo rating (0 = random play)"
					},
					"scale": {
						"zero": false
					}
				},
				"color": {
					"value": "blue"
				},
				"order": {
					"field": "net", "type": "quantitative"
				}
			}
		},
		{
			"transform": [
				{ "filter": "datum.rating > -1" },
				{ "calculate": "format(datum.net, ',d')", "as": "net_formatted" },
				{ "calculate": "format(datum.rating, ',.2f')", "as": "rating_formatted" }
			],
			"mark": {"type": "point", "filled": true},
			"encoding": {
				"x": {
					"field": "net",
					"type": "quantitative",
					"axis": {
						"title": "Number of accumulated games",
					},
					"scale": {
						"zero": false
					}
				},
				"y": {
					"field": "rating",
					"type": "quantitative",
					"axis": {
						"title": "Elo rating (0 = random play)"
					},
					"scale": {
						"zero": false
					}
				},
				"color": {
					"field": "sprt", "type": "nominal",
					"scale": {"range": ["#59E817", "#C11B17", "blue"]}
				},
				"shape": {
					"field": "sprt", "type": "nominal",
					"scale": {"range": ["circle", "triangle-down", "circle"]}
				},
				"tooltip": [
					{"type": "nominal", "field": "id", "title": "Network Id"},
					{"type": "nominal", "field": "net_formatted", "title": "Number of trained games"},
					{"type": "nominal", "field": "rating_formatted", "title": "Elo rating (0 = random play)"},
					{"type": "nominal", "field": "sprt", "title": "SPRT"}
				]
			}
		}
	]
}
vegaEmbed("#eloChart", vlSpec, { actions: false })
.catch(console.error);
</script>

<script>
$(function() {
  var interval = setInterval(function() {
      var chunks = $("#train-progress").text().split('/');
      var played = parseInt(chunks[0]);
      var target = parseInt(chunks[1]);
      played += 2;
      if (played > target) played = target;
      var current_progress = (played * 100.0) / target;
      $("#train-progress")
      .css("width", current_progress + "%")
      .text(played + "/" + target);
  }, 1000);
});
</script>
{{end}}
