{{define "content"}}
<h2>Matches</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>Candidate ID</th>
        <th>Current ID</th>
        <th>Pass</th>
        <th>Score</th>
        <th>Elo Delta</th>
        <th>Elo Error Margin</th>
        <th>Done</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {{range .matches}}
      <tr class="table-{{.table_class}}">
        <td><a href="/match/{{.id}}">{{.id}}</a></td>
        <td>{{.candidate_id}}</td>
        <td>{{.current_id}}</td>
        <td>{{.passed}}</td>
        <td>{{.score}}</td>
        <td>{{.elo}}</td>
        <td>{{.error}}</td>
        <td>{{.done}}</td>
        <td>{{.created_at}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}

{{define "scripts"}}
{{end}}
