{{define "content"}}
<h2>Match</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Game Id</th>
        <th>Candidate Color</th>
        <th>Result</th>
        <th>Finished</th>
        <th>User</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {{range .games}}
      <tr>
        <td><a href="/match_game/{{.id}}">{{.id}}</a></td>
        <td>{{.color}}</td>
        <td>{{.result}}</td>
        <td>{{.done}}</td>
        <td><a href="/user/{{.user}}">{{.user}}</a></td>
        <td>{{.created_at}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}

{{define "scripts"}}
{{end}}
