{{define "content"}}
<h2>Networks</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Id</th>
        <th>Network</th>
        <th>Elo</th>
        <th>Games</th>
        <th>Blocks</th>
        <th>Filters</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      {{range .networks}}
      <tr>
        <td>{{.id}}</td>
        <td><a href="/get_network?sha={{.sha}}" download="weights_{{.id}}.txt.gz">{{.short_sha}}</a></td>
        <td>{{.elo}}</td>
        <td>{{.games}}</td>
        <td>{{.blocks}}</td>
        <td>{{.filters}}</td>
        <td>{{.created_at}}</td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}

{{define "scripts"}}
{{end}}
