{{define "content"}}
<div>
<h3>RNG</h3>
<img src="/stats/rng.png"/>
</div>

<div>
<h3>a490ebcf</h3>
<img src="/stats/a490ebcf.png"/>
</div>

<div>
<h3>de1ddecb</h3>
<img src="/stats/de1ddecb.png"/>
</div>
{{end}}

{{define "scripts"}}
{{end}}
