{{define "content"}}
<h1>Statistics - updated every 4 hours</h1>

{{range .networks}}
<div>
<h3>{{.short_sha}}</h3>
<img src="/stats/{{.short_sha}}.png"/>
</div>
{{end}}

{{end}}

{{define "scripts"}}
{{end}}
