{{define "content"}}
<h2>Training PGNs</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      {{range .pgn_files}}
      <tr>
        <td><a href="{{.url}}">{{.url}}</a></td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
<h2>Training Raw Data</h2>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>URL</th>
      </tr>
    </thead>
    <tbody>
      {{range .files}}
      <tr>
        <td><a href="{{.url}}">{{.url}}</a></td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>
{{end}}

{{define "scripts"}}
{{end}}
